.userList {
    margin-top: 15px;
}

.userListActionLink {
    position: relative;
}

.userListUser {
    display: flex;
    align-items: center;
}

.userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;

    /* position: absolute;
    top: 50%;
    left: 50%; */

    /* width: 300px;
    height: 300px;
    z-index: 99; */
}

.userListDelete {
    color: red;
    cursor: pointer;
}
