.discount-block-title {
    font-size: 30px;
    font-weight: 500;
}

.discount-block-title-new {
    text-decoration: none;
    color: white;
    min-width: 180px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 3px;
}

.discount-block-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    width: 100%;
}
