.container-main {
    overflow: hidden;
    width: 100%;
}

.app-sidebar {
    width: 25%;
    padding: 0 15px;
}

.app-content {
    padding: 0 15px;
    width: 75%;
}

.contont-app-frame {
    display: flex;
    margin: 0 -15px;
}

.order {
    margin-top: 15px;
    width: 100%;
    /* margin-right: 20px; */
}

.order-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.default-layout-order-container-right {
    width: 80%;
    margin: 20px 0;
}

.default-layout-order-manage-user {
    display: flex;
    padding: 10px 20px;
    background: #ccc;
    width: max-content;
    border-radius: 3px;
}

.default-layout-order-select-link {
    background-color: #eeeeee;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 20px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.frame-layout-order {
    margin-top: 20px;
    margin-right: 20px;
}

.default-layout-order-select-link:last-child {
    margin-right: 0px;
}

.default-layout-order-select-link:last-child {
    margin-right: 0px;
}
